.footer {
    background-color:#fa5a62;
    text-align: center;
    color: white;
    padding-top:20px;
    padding-bottom:20px;
}

.icon-bar {
    width: 33.3%;
    background-color: #fa5a62;
    overflow: auto;
    margin: 0px 32% 0px 32%;
}

#fb:hover {
    background: #3B5998;
    color: white;
    transition: all 0.5s ease;
}

#twitter:hover {
    background: #55ACEE;
    color: white;
    transition: all 0.5s ease;
}
#ig:hover {
    background: #125688;
    color: white;
    transition: all 0.5s ease;
}

#sc:hover {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: all 0.5s ease;
}
#android:hover {
    transition: all 0.5s ease;
    background: #a4c639;
    color: white;
}

    .icon-bar a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
    }

@media only screen and (max-width: 800px) {
 .icon-bar {
    width: 40%;
    background-color: #fa5a62;
    overflow: auto;
    margin: 0px 32% 0px 32%;
}   
   
}