
.imageCard{
    padding: 5px;
    background-color:white;
    border-left:solid 10px #fa5a62;
    display: flex;
    color:black;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    
}


input[type="checkbox"]:active:after {
  border-radius: 100%;
  margin: -10px;
  width: 17px;
  height: 17px;
  padding: 8px;
  box-shadow: 0 0 0 12px #EEE;
  content: '';
  display: inline-block;
}

input[type="checkbox"]:after, input[type="checkbox"]:active:after:after {
  border-radius: 2px;
  width: 9px;
  height: 9px;
  padding: 2px;
  box-shadow: 0 0 0 2px #EEE;
  content: '';
  display: inline-block;
}

/*input[type="checkbox"]:checked:after {
  border-radius: 100%;
  margin: -10px;
  width: 17px;
  height: 17px;
  padding: 8px;
  box-shadow: 0 0 0 8px #F9F9F9;
  content: '';
  display: inline-block;
}*/

input[type="checkbox"] {
  margin: 30px;
	background: #EEE;
	box-shadow: 0 0 0 0 #009688 inset, 0 0 0 2px #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
	padding: 8px;
	border-radius: 2px;
  display: block;
  transition: all .2s;
  zoom: 2;
float:right;
}

input[type="checkbox"]:active {
	background: #ddd;
	box-shadow: 0 0 0 0 #009688 inset, 0 0 0 2px #666666 inset, 0 0 0 0 #EEE inset, 0 0 0 8px #ddd inset, 0 0 0 12px #ddd;
}

input[type="checkbox"]:checked:active {
	background: #009688;
	box-shadow: 0 0 0 8px #009688 inset, 0 0 0 0 #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 12px #ddd inset, 0 0 0 8px #D6E5E4;
}

input[type="checkbox"]:checked {
	background: #F9F9F9;
	box-shadow: 0 0 0 8px #009688 inset, 0 0 0 0 #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
  content: url(https://i.imgur.com/OrSqEu5.png);
}



 

