.logo{
 background-color:white;
 width:100%;
 padding:5px;
 text-align:center;
 font-size:20px;
 color:#fa5a62;
 font-weight:bold;
 }


ul{
     width: 100%;
    background-color: #fa5a62;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
     -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
    height:auto;
    
}

li{
  display: inline-block;
 
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
ul li a:hover{
    background-color: #d32f2f;
    
}

.active{
    background-color: #d32f2f;
}

.active {
  background-color: #d32f2f;   
}


.navbar{
  padding:10px; 
    background-color:#fa5a62;
    display:none;
}
.expanded{
    height:200px;
   }
.noHover{
    pointer-events: none;
    float:left; 
}

.visibleStyle{display:inline-block;}
.hiddenStyle{display:none;}

@media only screen and (max-width: 800px) {
    li{
        display:block !important;
        clear:both;
        text-align:center;
        float:none !important;
        font-size:20px;
    }
    
    ul{
        height: 0px;
        overflow: hidden;
      -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
    }
.navbar{
  padding:10px; 
    background-color:#fa5a62;
    display:block;
}
    
.noHover{
    pointer-events: none;
    float:left;
    display:inline-block !important ;
}   
    
    
    
    
    
    
}

@media only screen and (min-width:769px){

    
    ul{
     width: 100%;
    background-color: #fa5a62;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
     -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
    height:auto !important ;
    display:block !important;
    
  
}

li{
  display: inline-block;
 
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
          -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    
}
}



    
   

    
    
    
    
    
} 