h2{
    font-size:26px;
    text-align:center;
    font-weight: 100;
    padding: 20px;
    font-size:30px;
}

.intro{
   font-weight: 100;
   text-align: center;
   padding: 10px 10px;
   letter-spacing: 0.0625em;
    margin:0px 20%;
    margin-bottom: 20px;
 
}

.search{
    width:75%;
    background-color: white;
    border: solid 5px #fa5a62;
}

 .noPosts{
        margin:5% 40%;
 }


  @import url(https://fonts.googleapis.com/css?family=Open+Sans);



.searchbar {
  width: 100%;
  position: relative;
    
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid#fa5a62;
  padding: 5px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #fa5a62;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 51px;
  border: 1px solid #fa5a62;
  background: #fa5a62;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  padding:20px 20px;
margin-top:-50px;

}
@media only screen and (max-width: 800px) {

    .search{
    width:90%;
    background-color: white;
    border: solid 5px #fa5a62;
}
    
    .intro{
   font-weight: 100;
   text-align: center;
   padding: 10px 10px;
   letter-spacing: 0.0625em;
    margin:0px 5%;
    margin-bottom: 20px;
 
}
   

    
    .wrap{
  width: 25%;
  padding:15px 20px;
margin-top:-40px;

}
    
.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid#fa5a62;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 15px;
}

  
   
    
.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #fa5a62;
  background: #fa5a62;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
    #all{
font-size: 15px;
margin-right:20px;
padding:5px;
}

    
   
    .noPosts{
        margin:5% 20%;
    }

    
}

.pagination{
background-color: white;
text-align:center;
padding:20px;
    
}
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    padding:20px;

}

/* Style the active/current link */
.pagination a.active {
    background-color: #2EB2FF;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #8DD5FF;}


